:root {
    --primary: #fec448 !important;
    --secondary: #7AB730 !important;
    --light: #F3F3F3 !important;
    --dark: #212121 !important;
    /* Tamanhos de fonte responsivas */
    --responsible-font-size-1: calc(1.7rem + 2.2vh);
    --responsible-font-size-2: calc(1rem + 1.5vh);
    --responsible-font-size-3: calc(1rem + 1.2vh);
    --responsible-font-size-4: calc(0.7rem + 1.2vh);
    --responsible-font-size-5: calc(0.7rem + 0.8vh);
}
p {
    font-family: Poppins, sans-serif;
}
hr{
    border: 0;
    height: 3rem;
}

/* FONTES */
.roboto {
    font-family: Roboto, sans-serif;
    font-weight: 700 !important;
}

/* CORES */
.bg-vidas{
    background-color: var(--primary) !important;
    background-image: url(../images/background.png);

}
.bg-footer{
    background-color: rgba(33, 33, 33, 0.9);
}
.fill-white{
    fill: white !important;
}
.fill-black{
    fill: black;
}

/* COMPORTAMENTOS */
.show{
    height: 100vh;
    width: 100vh !important;
    /* do it slowly */
    transition: height 0.5s ease-in-out;
}
.view-pc{
    display: block;
}
.view-mobile{
    display: none;
}
.text-justify{
    text-align: justify !important;
}
.void-t-1{
    margin-top: 5vh !important;
}
.void-t-2{
    margin-top: 10vh !important;
}
.void-t-3{
    margin-top: 15vh !important;
}
.fill-image{
    width: 100%;
    height: 100%;
}

/* Tamanhos de fonte customizados */
.res-font-1{
    font-size: var(--responsible-font-size-1);
}
.res-font-2{
    font-size: var(--responsible-font-size-2);
}
.res-font-3{
    font-size: var(--responsible-font-size-3);
}
.res-font-4{
    font-size: var(--responsible-font-size-4);
}
.res-font-5{
    font-size: var(--responsible-font-size-5);
}
.min-res-font-1{
    min-height: calc(var(--responsible-font-size-1) + 0.7vh) !important;
}
.min-res-font-0{
    min-height: calc(var(--responsible-font-size-1) + 2vh) !important;
}

.footer-icon{
    width: calc(1.5rem + 2vh) !important;
    height: calc(1.5rem + 2vh) !important;
    margin: 0 .3vh 0 .3vh !important;
}
.button-1{
    min-width: 35%;
    max-height: 75%;
}
.input-with-icon {
  position: relative;
}
.search-icon {
  position: absolute;
  top: 50%;
  right: 85%;
  transform: translateY(-50%);
  fill: #aaa;
}
.icon-logo{
    height: var(--responsible-font-size-1);
    width: var(--responsible-font-size-1);
}

@media (max-width: 992px) {
    .view-pc{
        display: none;
    }
    .view-mobile{
        display: block;
    }
    .container-mobile{
        margin: 3rem;
    }
}

/* CUSTOM NAVBAR */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.port {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 100px;
  background: var(--primary);
  background-color: var(--primary);
  z-index: 103;
  visibility: hidden;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  border-bottom: 1px solid #d0d0d0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.port.item_open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.item_open .close {
  opacity: 1;
  top: 0px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#menu{
    width: 81% !important;
    height: 100%;
}
/*#closeButton{*/
/*    position: absolute;*/
/*    min-height: 5rem !important;*/
/*    display: flex;*/
/*    margin: 0 0 0 75% !important;*/
/*    z-index: 9999;*/
/*}*/

#closeButton{
    padding-right: 9.5rem!important;
}
#closeButtonSVG{
    opacity: 0;
    animation: fade 0.4s ease-in-out forwards;
}

.footer-mobile{
    position: absolute;
    bottom: 0;
    width: 100%;
}



@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    left: -100%; /* No início da animação (0%), a div está fora da tela, à esquerda */
  }
  100% {
    left: 0; /* No final da animação (100%), a div está posicionada normalmente, à direita */
  }
}